@model RetailCompanyProject.Models.Laptop

@{
    ViewData["Title"] = "Checkout form";
}

<h1>Checkout form</h1>

<div>
    <h4>Laptop @Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12">
            <img src="@Url.Content("/images/"+  @Model.ImageURL)" class="img-thumbnail" alt=@Model.Name>
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Screen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Screen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <hr />

    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-12">
                    <label for="Name" class="form-label">name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Bashayer" required>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>


            </div>

            <hr class="my-4">
            <h4 class="mb-3">Payment</h4>
            <div class="my-3">
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                    <label class="form-check-label" for="credit">Cash</label>
                </div>
            </div>

            <hr class="my-4">
            <a class="w-100 btn btn-primary btn-lg" asp-action="Create_order" asp-route-id="@Model.Id">confirm payment</a>

        </form>
    </div>
    <!--
    <div class="row g-5">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Billing address</h4>
            <form asp-action="Create_Order" asp-validation-summary="ModelOnly" class="needs-validation">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <label asp-for="Name" class="form-label">name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Bashayer" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="Address" class="form-label">Address</label>
                        <input asp-for="address"type="text" class="form-control" [(ngModel)]="Address" id="address" [ngModelOptions]="{standalone: true}" placeholder="1234 Main St"
                               required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>


                </div>

                <hr class="my-4">

                <h4 class="mb-3">Payment</h4>

                <div class="my-3">
                    <div class="form-check">
                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                        <label class="form-check-label" for="credit">Cash</label>
                    </div>
                </div>

                <hr class="my-4">
                <button asp-action="Home" asp-controller="index" type="button" class="w-100 btn btn-primary btn-lg">confirm payment</button>
            </form>
        </div>
    </div>-->
</div>
